* {
	box-sizing: border-box;
}

html, body {
	min-height: 100%;
}

body, ul, ol, dl {
	margin: 0;
	padding: 0 10px;
}

body {
    font-family: BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans,
        Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    line-height: 1.7;
}

.grid-container {
    height: 100vh;
}

.grid-container {
  display: grid;
  grid-template-columns: 2fr 1fr minmax(18em, 38em) 1fr 2fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    ". header header header ."
    ". . content . ."
    ". . footer . .";
}
.topLevelHeader {
  grid-area: header;
  border-bottom: 3px solid black;
}
.topLevelContent {
  grid-area: content;
  margin-top: 2em;
}
.topLevelFooter {
  grid-area: footer;
  margin-top: 1.5em;
}

@media (min-width: 42em){
  .topLevelHeader {
      font-size: 140%;
  }
}


.grid-left-right {
  display: grid;
  grid-template-columns: 1fr 2em 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "left middle-spacer right";
}
.left { grid-area: left; }
.middle-spacer { grid-area: middle-spacer; }
.right {
  grid-area: right;
  text-align: right;
}

h1 {
    margin: 0.4em 0
}

h1 a, h1 a:link, h1 a:visited, h1 a:active {
  color: #000;
  text-decoration: none;
}

h1 a:hover {
  text-decoration: underline;
}

.articles {
    width: 100%;
}

.tableArticleDate {
    text-align: right;
}

footer p {
    text-align: center;
    margin: 0.2em 0;
}

.img svg,
.img img {
  margin: 0;
  width: 100%;
  height: auto;
  display: block;
}

.img {
  position: relative
}

.img img {
  position: absolute;
  top:0;
  left:0;
}

.rss {
  text-align: center
}