<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/style.css">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">

    {{ $ogImg := print .Site.BaseURL "logo.png" }}
    {{ if isset .Page.Params "ogimage" }}
        {{ $ogImg = print .Page.Permalink .Page.Params.ogimage }}
    {{ end }}
    <meta property="og:image" content="{{ $ogImg }}">

    {{ $description := .Page.Params "description" }}
    <meta name="description" content="{{ $description }}">

    {{ $title := print .Site.Title " | " .Title }}
    {{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
    <title>{{ $title }}</title>
</head>