<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/css/style.css">

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">

{{ $ogImg := print .Site.BaseURL "logo.png" }}
{{ if isset .Page.Params "ogimage" }}
    {{ $ogImg = print .Page.Permalink .Page.Params.ogimage }}
{{ end }}
<meta property="og:image" content="https://blog.ghostletters.xyz/posts/2020-1-17_17-00/tool_hu309e4d051059fd40868e5e91ee0c3bc4_1105176_500x0_resize_q75_box.jpg">

{{ $description := .Page.Params.description }}
<meta name="description" content="{{ $description }}">

{{ $title := print .Site.Title " | " .Title }}
{{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
<title>{{ $title }}</title>